FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=CAMBIALO
DATABASE_URL=sqlite:///./app.db

# Credenciales por defecto (solo para desarrollo, en producción se definen en Azure)
DEFAULT_SECURITY_EMAIL=security@secureincident.com
DEFAULT_SECURITY_USERNAME=security_team
DEFAULT_SECURITY_PASSWORD=CAMBIALO

DEFAULT_EMPLOYEE_EMAIL=employee@secureincident.com
DEFAULT_EMPLOYEE_USERNAME=employee1
DEFAULT_EMPLOYEE_PASSWORD=CAMBIALO